#title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    color: #895c95; 
}

#sub_title {
    align-items: center;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 1.2rem;
    color: white;
}

#title::before, #title::after {
    content: "";
    height: 2px;
    background-color: #895c95;
    display: block;
    width: 80px;
}

#title::before {
    margin-left: 8rem;
}

input,select {
    width: 90%; 
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
}

p{ 
    text-align:center;
    /* color:red; */
}

#btn {
    border: 2px solid #895c95;  
    color: white;  
    position: relative;  
    padding: 10px 20px;  
    margin-right: 24px; 
    transition: all 75ms ease-in; 
    background-color: #895c95; 
    border-radius: 15px;
    margin-bottom: 5rem;
    
}

#btn:hover {
    border: 2px solid #400051;
    background-color: #400051;
    color: white;
}

form{
    padding: auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px) {
    #title{
        margin-left: -3rem;
    }

    input,select{
        width: 80%; 
        padding: 8px;
        border: 1px solid #d1d5db;
        border-radius: 4px;
    }
    
}

option:checked {
    background-color: #895c95;
    color: white;
}