*{
    font-family: 'Nunito', sans-serif;
}
.experience_card{
    width: 300px;
    padding: 2rem 1rem 1rem 1rem;
    margin: 2rem;
    /* flex: 1 0 20%; */
    border: 1px solid rgba(0, 0, 0, 0.007);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    #student_details{
        align-items: center;
        padding: 1rem 1rem 1rem 2rem;
        ul{
            padding-bottom: 5px;
        }
    }
    #file_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 1rem;
    }
}

.styled-hr {
    border: none;           
    border-top: 2px solid #333; 
    width: 80%;
    margin: 20px auto;
}

.pdf_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}