.container {
    padding: 0 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292d33;
}

.wrapper {
    width: 50%;
}

.header {
    padding-bottom: 2rem;
}

.header h3 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 1rem;
    color: #e3d5e7;
}

.acc_title {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acc_title p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #895c95;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc_title p span {
    display: inline-block;
    width: 5rem;
    height: 2.3px;
    background-color: #895c95;
}

.label {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.65rem;
    color: white;
}

.label:hover {
    color: #e3d5e7;
    transition: all 200ms;
}

.label p {
    font-size: 1.1rem;
}

.label p:nth-child(2) svg {
    background-color: #895c95;
    color: white;
}

.card {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.content {
    padding: 0.65rem;
    color: white;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    line-height: 25px;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        width: 90%;
    }
}