.sidebar{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    /* position: fixed; */
    position:absolute;
    overflow-y: scroll;
    margin-top: -8em;
    margin-left: -1.3em;;
    height: 100vh;
    width: 20em;
    padding-left: 0.5em;
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: #DBDDFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #DBDDFF;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #C2C2C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #4C5E75;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #4C5E75;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #4C5E75;
  }
